html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-image: url("../img/background.png");
  background-repeat: repeat;
  flex-basis: 700px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}
